In [ ]:
import pandas as pd

In [ ]:
dict ={"Name" : ['Priyang','Aadhya','Krishna','Vedant','Parashv','Mittal','Archana'],"Marks":[98,89,99,87,90,83,99],"Gender":['Male','Female','Female','Male','Male','Female','Female']}
df = pd.DataFrame(dict)
df

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2  Krishna     99  Female
3   Vedant     87    Male
4  Parashv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

In [ ]:
df.head(
    
)

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2  Krishna     99  Female
3   Vedant     87    Male
4  Parashv     90    Male

In [ ]:
df.tail()

      Name  Marks  Gender
2  Krishna     99  Female
3   Vedant     87    Male
4  Parashv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

In [ ]:
#Find the shape of our Dataset
df.shape

(7, 3)

In [ ]:
#get the information about our dataset , total rows,total columns,Datatypes...
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Marks   7 non-null      int64
 2   Gender  7 non-null      object
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

In [ ]:
#Check Null Values in the Dataset
df.isnull().sum()

Name      0
Marks     0
Gender    0
dtype: int64

In [ ]:
#get overall statistics
df.describe(include='all')

           Name      Marks  Gender
count         7   7.000000       7
unique        7        NaN       2
top     Priyang        NaN  Female
freq          1        NaN       4
mean        NaN  92.142857     NaN
std         NaN   6.491753     NaN
min         NaN  83.000000     NaN
25%         NaN  88.000000     NaN
50%         NaN  90.000000     NaN
75%         NaN  98.500000     NaN
max         NaN  99.000000     NaN

In [ ]:
#Find Unique Values from the Gender column
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [ ]:
#Find no of unique values in gender column
df['Gender'].nunique()

2

In [ ]:
#display Count unique values in gender column
df['Gender'].value_counts()

Female    4
Male      3
Name: Gender, dtype: int64

In [ ]:
#no if students marks between 90 to 100
df[df['Marks']>=90]

      Name  Marks  Gender
0  Priyang     98    Male
2  Krishna     99  Female
4  Parashv     90    Male
6  Archana     99  Female

In [ ]:
df[(df['Marks']>=90) & (df['Marks']<=100)]

      Name  Marks  Gender
0  Priyang     98    Male
2  Krishna     99  Female
4  Parashv     90    Male
6  Archana     99  Female

In [ ]:
df[df['Marks'].between(90,100)]

      Name  Marks  Gender
0  Priyang     98    Male
2  Krishna     99  Female
4  Parashv     90    Male
6  Archana     99  Female

In [ ]:
df['Marks'].mean()

92.14285714285714

In [ ]:
df['Marks'].mode()

0    99
Name: Marks, dtype: int64

In [ ]:
def marks(x):
  return x/2

In [ ]:
df['Half_Marks']=df['Marks'].apply(marks)

In [ ]:
df

      Name  Marks  Gender  Half_Marks
0  Priyang     98    Male        49.0
1   Aadhya     89  Female        44.5
2  Krishna     99  Female        49.5
3   Vedant     87    Male        43.5
4  Parashv     90    Male        45.0
5   Mittal     83  Female        41.5
6  Archana     99  Female        49.5

In [46]:
df['Name'].apply(len)

0    7
1    6
2    7
3    6
4    7
5    6
6    7
Name: Name, dtype: int64

In [56]:
df.drop('Gender', axis=1)

      Name  Marks  Half_Marks
0  Priyang     98        49.0
1   Aadhya     89        44.5
2  Krishna     99        49.5
3   Vedant     87        43.5
4  Parashv     90        45.0
5   Mittal     83        41.5
6  Archana     99        49.5

In [59]:
df.columns

Index(['Name', 'Marks', 'Gender', 'Half_Marks'], dtype='object')

In [58]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [64]:
df.sort_values(by='Marks',ascending=False)

      Name  Marks  Gender  Half_Marks
2  Krishna     99  Female        49.5
6  Archana     99  Female        49.5
0  Priyang     98    Male        49.0
4  Parashv     90    Male        45.0
1   Aadhya     89  Female        44.5
3   Vedant     87    Male        43.5
5   Mittal     83  Female        41.5

In [65]:
df[df['Gender']=='Female'][['Name', 'Marks']]

      Name  Marks
1   Aadhya     89
2  Krishna     99
5   Mittal     83
6  Archana     99